<!-- página de login -->
<html>
    <!-- link tag para referenciar os arquivos css -->
    <%= stylesheet_link_tag "style" %>
    <body>
        <div id="login">
            <form class="card">
                <div class="card-header">
                    <h2>SISTEMA DE CONTROLE DE POPs</h2>
                </div>

                <div class="card-content">
                    <div class="card-content-area">
                        <label for="usuario">Usuário</label>
                        <input type="text" id="usuario" autocomplete="off">
                    </div>

                    <div class="card-content-area">
                        <label for="password">Senha</label>
                        <input type="password" id="password" autocomplete="off">
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="ENTRAR" class="submit">
                    <a href="#" class="recuperar_senha">Esqueceu a senha?</a>
                </div>
            </form>
        </div>
    </body>
</html>
