<%= stylesheet_link_tag "button" %>
<div class="row-fluid">
<%= render 'shared/header' %>
  <div class="span4" style="padding: 1%; background-color: #ffffff;">
    <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; 
        text-decoration: underline;"><big>Política de Privacidade</big></p></b>
  </div>
</div>

<div class="default_position">
  <%= link_to "VOLTAR", inicial_path, :class => "button", :style => "margin-left: 150px" %>
</div>

<pre class="borda">

    Aqui texto referente à política de privacidade.

</pre>

<%= render 'shared/footer' %>

