<div class="footer-basic">
    <ul class="list-inline">        
        <li class="list-inline-item"><%= link_to "Política de Privacidade", privacy_path %></li>
        <li class="list-inline-item"><%= link_to "Créditos", about_path %></li>
            
    </ul>
        <p class="copyright">Desenvolvido por Universidade Comunitária da Região de Chapecó - Unochapecó © 2023. Todos os direitos reservados - versão 2.3</p>
        <br>
</div>

