<%= stylesheet_link_tag "button" %>
<%= render 'shared/header' %>
<div class="row-fluid">
  <div class="span4" style="padding: 1%; background-color: #ffffff;">
    <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Créditos</big></p></b>
  </div>
</div>

<div class="default_position">
  <%= link_to "VOLTAR", inicial_path, :class => "button", :style => "margin-left: 150px" %>
</div>

<pre class="borda">
    Este sistema foi desenvolvido pela Universidade Comunitária da Região de Chapecó - UNOCHAPECÓ
    em parceria com o Hospital Regional do Oeste - HRO.

    Desenvolvedor:
    - Dyonatan Nied

    Equipe Técnica:
    - Dyonatan Nied
    - Fernando Altir Bastian
    - Radamés Pereira
</pre>

<%= render 'shared/footer' %>