<%= stylesheet_link_tag "button" %>
<%= render 'shared/header' %>
<div class="row-fluid">
  <div class="span4" style="padding: 1%; background-color: #ffffff;">
    <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Editar Usuário Cadastrado</big></p></b>
  </div>
</div>

<%= render "form", user: @user %>

<br>

