<p style="color: green"><%= notice %> <! mensagem de sucesso quando salva o pop> 
<%= stylesheet_link_tag "button", "pop" %>

<div class="row-fluid">
        <div class="span4" style="padding: 1%; background-color: #ffffff;">
            <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Criar Novo Procedimento Operacional Padrão</big></p></b>
        </div>
    </div>

<%= render "form", pop: @pop %>