.navbar {
  min-height: 100px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 20px; /* Remove as margens padrão */
  padding: 0; /* Remove os preenchimentos padrão */
  height: 100vh; /* Define a altura do corpo para ocupar toda a janela de visualização */
  position: relative; /* Define a posição do corpo como relativa */
}


/* borda do sobre e privacidade*/
pre.borda {
  margin-top: 2px;
  margin-left: 229px;
  max-width: 62%;
  height: 220px;
  border-style: groove; 
  padding: 25px;
  vertical-align: center;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* borda do nome do usuário página*/
p.borda2{
  border: 1px solid black;
  width: 100px;
  height: 20px;
  text-align: center;
}

/* posição botões das páginas sobre e privacidade*/
div.default_position{
  margin-top: 1px;
  margin-left: 77px;
  margin-bottom: 10px;
}
