div.cancel{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 77px;
    width: 86%;
    height: 100px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  /* visualizar usuário */
div.editUser{
    margin-top: 12px;
    margin-left: 77px;
    width: 86%;
    height: 330px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
}

div.editUser2{
    margin-top: 12px;
    margin-left: 77px;
    width: 86%;
    height: 380px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.editText{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.buttonPosition{
    margin-left: 77px;
}