/* Css da página de edição de usuário */
div.cancel{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 77px;
    width: 86%;
    height: 100px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
/* campos de senha e e-mail */
div.editUser{
    margin-top: 12px;
    margin-left: 77px;
    width: 86%;
    height: 330px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
}

/* visualizar usuário */
div.editUser2{
    margin-top: 12px;
    margin-left: 77px;
    width: 86%;
    height: 380px;
    border-style: groove;
    padding: 25px;
    vertical-align: center;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* campo de texto */
div.editText{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* posição do botão VOLTAR */
div.buttonPosition{
    margin-left: 77px;
}