/* css header */
.header {
  background-color: #ffffff;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block; /* remove espaço abaixo da imagem */
  margin: 0 auto; /* centraliza horizontalmente a imagem */
}


.responsive-image {
  max-width: 100%; /* a imagem não será mais larga do que seu contêiner */
  height: auto; /* a altura será ajustada proporcionalmente à largura */
  display: block; /* remove espaço extra abaixo da imagem */
  margin: 0 auto; /* centraliza a imagem horizontalmente, se necessário */
}


