/* visualizar pop - campo de assinaturas*/
div.text{
  margin-top: 0;
  margin: 10px;
  margin-left: 77px;
  width: 86%;
  height: auto;
  border-style: groove;
  word-wrap: break-word;
  padding: 12px;
  vertical-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* campo de texto título */
div.title{
  margin-top: 0;
  margin-left: 77px;
  width: 86%;
  height: auto;
  border-style: groove; 
  padding: 12px;
  vertical-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.img{
  margin-top: 0;
  margin-left: 77px;
  width: 86%;
  height: auto;
  border-style: groove; 
  padding: 12px;
  vertical-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}