/* CSS DA TABELA */
table { /* tabela */
    border-collapse: collapse;
    width: 88%;
    margin-left: 77px;
    margin-top: 45px;
  }
  
  table, td, th { /* tabela */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #000000;
    height: auto;
    vertical-align: text-top;
    text-align: center;
    padding: 15px;
  }
  
  tr:hover {background-color: #d4dadf} /* mudança de cor quando coloca o cursor sobre a linha */
  
  th { /* cabeçalho da tabela */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 15px;
    text-align: center;
  }